/*
Theme Name: Boots cv
Template: boots
Theme URI: 
Author: Defe
Author URI:
Description: A semantic, HTML5, canvas for CSS artists and an ultra-minimal set of super-clean templates for your own WordPress theme development... Spiced with Twitter Bootstrap
Version: 0.0.8
License: GNU General Public License
License URI: license.txt
Tags: custom-menu, sticky-post, microformats, rtl-language-support, translation-ready, full-width-template, post-formats

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/


/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400);*/
/*@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);


body{
	padding-top: 70px;
	font-family: 'Raleway', sans-serif !important;
	color: #444444;
}
*/


@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body{
	
	font-family: 'Montserrat', sans-serif;
	line-height: 25px;
	color: #888888;
}

h1,h2,h3{
	color: #333;
}

a{
	color: #D9534F;/*#D57D78;*/
}

a:hover{
	
	color: #111111;
}


.text-danger{
	color: #D9534F;/*#d57d78;*/
}

.form-control {
    border-radius: 0;
}

.btn{
	border-radius: 0;
	border: medium none;
	text-decoration: none;
}

.btn-danger{
	background: #D9534F;/*#D57D78;*/
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger{
	background: #FF6A6A;
}

.progress{
	border-radius: 0;
	height: 30px;
}

.progress-bar{
	
	background: #D9534F;/*#D57D78;*/ /*#444;*//*#D57D78*/
	line-height: 30px;
}

.form-control{
	
	border-radius: none;
}

/*
#branding{
	
    position: static;
    margin-top: -75px;
}*/


.navbar-toggle{
	float: left;
	margin-left: 10px;
}


.navbar-toggle .icon-bar{
	background: #ffffff;
    height: 3px;
    width: 26px;
}

.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 5px;
}


#nav-main-container .navbar-nav > li > a{
	color: #aaaaaa;
}

#menu-mobile .logo{
	display: none;
	margin-right: 15px;
}

#menu-mobile{
	left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 11;
}

#menu-mobile.affix{
	background: #D9534F;
	border-bottom: 3px solid #fff;
}


#menu-mobile.affix .logo{
	display: block;
	float: right;
}






.bg1{
	background: #ffffff;
}



#timeline-wrap-back{
	background: #eeeeee;
    height: 100%;
    left: 50%;
    margin-left: -100px;
    position: fixed;
    width: 200px;
    z-index: 1;
   	display: none;
}

#timeline-wrap{
	
	background: #D9534F;/*#D57D78;*/ /*#444444*/
    height: 50%;
    left: 50%;
    margin-left: -100px;
    position: fixed;
    width: 200px;
    z-index: 2;
  	display: none;
}

#page{
	
	z-index: 3;
	position: relative;
}


#main_cont{

	padding-top: 0;
	/*padding-top: 100px;*/
	padding-bottom: 0;
}




/*# header #*/


#profile-block-holder{
	display: none;
}

#profile-block-holder .simetric-l,
#profile-block-holder .simetric-c,
#profile-block-holder .simetric-r{
	height: 100px;	
}

/*
#profile-block{
	
	position: absolute;
    width: 100%;
	
}*/




#profile-frame{
	display: block;
    left: 0;
    position: absolute;
    width: 100%;
    
    
    border-radius: 50% 50% 0 0;
}

#profile-container{
	
	
	border-radius: 50%;
    /*width: 250px;*/
    margin: auto;
    padding: 5px;
    position: absolute;
    width: 100%;
    left: 0;
}

#profile-container .me{
	border: 1px solid #ddd;
}



#profile-inner{
	
    border-radius: 50%;
    
    /*overflow: hidden;*/
}

#profile-container img{
	display: block;
	max-width: 100%;/*
	-webkit-filter: grayscale(50%);
  -moz-filter: grayscale(50%);
  -ms-filter: grayscale(50%);
  -o-filter: grayscale(50%);
  filter: grayscale(50%);*/
  
  width: 190px;
  
  -moz-transition: width 0.3s ease;
  -webkit-transition: width 0.3s ease;
  -moz-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
  transition: width 0.3s ease;
  
  
  border-radius: 50%;
  margin: auto;
  position: relative;
}


#profile-container .logo{
	display: none;
}


#profile-container,
#profile-frame{
	
	bottom: -99px;
}


#nav-main-container .navbar-nav{
	
	padding-bottom: 50px;
	
  -moz-transition: margin 0.2s ease;
  -webkit-transition: margin 0.2s ease;
  -moz-transition: margin 0.2s ease;
  -o-transition: margin 0.2s ease;
  transition: margin 0.2s ease;

}

#nav-main-left{

	float: right
}


#nav-main-right{
	
}







/*ANFIX MODE*/


#profile-block-container.affix{
	position: static;
}

.affix #profile-block-holder{
	display: block;
}

.affix #profile-block{

    background: none repeat scroll 0 0 #ffffff;
    border-bottom: 2px solid #ccc;
    /*overflow: visible;*/
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4; 

}



.affix #nav-main-left{
	margin-right: -60px;
}


.affix #nav-main-right{
	margin-left: -60px;
}


.affix #profile-frame{
     display:none;
}


.affix #profile-container{
     background: transparent;
    border-radius: 0;

    /*padding: 0 64px;*/
    top: 0;
    border: none;
}

.affix #profile-inner{
	border-radius: 0;
}

.affix #nav-main-container{
	
	background: none repeat scroll 0 0 #fff;
    border: 2px solid #ddd;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}


.affix #nav-main-container .navbar-nav {
    padding-bottom: 0;
} 


.affix #profile-container .me{

	
	/*display: none;*/

	/*width: 66px;*/
	width: 66px;
	opacity: 0;
	
  -moz-transition: width 0.2s ease, opacity 1s cubic-bezier(1,.01,.98,.63) 0s;
  -webkit-transition: width 0.2s ease, opacity 1s cubic-bezier(1,.01,.98,.63) 0s;
  -moz-transition: width 0.2s ease, opacity 1s cubic-bezier(1,.01,.98,.63) 0s;
  -o-transition: width 0.2s ease, opacity 1s cubic-bezier(1,.01,.98,.63) 0s;
  transition: width 0.2s ease, opacity 1s cubic-bezier(1,.01,.98,.63) 0s;
}

.affix #profile-container .logo{
	display: block;
	width: 66px;
	left: 50%;
    margin-left: -33px;
    position: absolute;

}



/*# END header #*/



/*# cover #*/

#cover{
	width: 100%;
	height: 600px;
	overflow: hidden;
	position: relative;
	background: #ffffff;
}

#cover .logo{
	display: block;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 20px;
	left: 20px;
}

#cover-img{
	
	width: 100%;
	display: block;
}

/* Ajuste de brillo */
#cover-overlay{
	position: absolute; 
    /*z-index: 2;*/
    display: block; 
    content: "";
    top: 0; right: 0; bottom: 0; left: 0;  
    background: hsla(0,0%,0%,0.20);  
}

.cover-title-container{

	left: 0;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
	text-shadow: 1px 1px 0 #444;/*0 2px 0 #000, 2px 0 0 #000, 2px 2px 0 #000;*/
}

.cover-title-container hr{
	box-shadow: 0 1px 0 #000;
	width: 50%;
}

.cover-title-container h1{
	font-size: 60px;
    font-weight: bold;
    color: #fff;
}

.cover-title-container h1 span{
	
	/*text-shadow: none;*/
}

.cover-title-container h2{
	color: #fff;
}


/*# END cover #*/

.simetric-row h1{
	margin-top: 0;
}


.simetric-l,
.simetric-c,
.simetric-r{
	padding-bottom: 20px;
    padding-top: 20px;
}

.simetric-l{
	text-align: right;
}

.simetric-c{
	text-align: center;
	background: url(img/TL/TL-default.png) center center repeat-y;
	
}

.simetric-r{

	text-align: left;
}


.simetric-c-bubble{

	background: url(img/TL/TL-bubble.png) center center repeat-y;
}

.simetric-c i{

	color: #ffffff;
    font-size: 24px;
}


.simetric-row-end .simetric-l,
.simetric-row-end .simetric-c,
.simetric-row-end .simetric-r{
	height: 56px;
}

.simetric-row-end .simetric-c{

	background: url(img/TL/TL-end.png) center center no-repeat;
}


.simetric-row-blank .simetric-c{
	
	background: #ffffff;
}






.timeline_block{

	box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
	padding: 20px;
	position: relative;
	z-index: 3;
	display: inline-block;
}

.timeline_block .subtitle{

	display: block;
}

.timeline_block:after{
	width: 24px;
	height: 24px;
	top: 50%;
	margin-top: -12px;	
	position: absolute;
	border-radius: 3px;
	content: " ";
	background: #ffffff;
	
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
}

.timeline_block h3{
	margin-top: 0;
}

.simetric-l .timeline_block:after{
	right: -12px;
	box-shadow: -2px -2px 3px rgba(0, 0, 0, 0.15);
}

.simetric-r .timeline_block:after{
	left: -12px;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
}



.simetric-l .progress-bar{
	float: right;
}






.portfolio-mosaic-container{
	background: none repeat scroll 0 0 #fff;
    padding-top: 1px;
}



/* Masonry */

.mosaic-grid-sizer{
	/*width: 230px;*/
	width: 12.5%;
}

.mosaic-gutter-sizer{
	width: 5%;
}

.mosaic-item {
	width: 12.5%;
	border: 1px solid #fff;
	overflow: hidden;
	cursor: pointer;
	
	/*width: 230px;*/
	/*height: 150px;*/
	/*height: auto;
	margin-bottom: 4px;
	overflow: hidden;*/
/*width: 25%; */




}

.mosaic-item.w2{

	width: 12.5%;
	/*width: 25%;*/
	/*width: 464px;*/

}

.mosaic-item.w3{

	/*width: 693px;*/
}

.mosaic-item.w4{
}

.mosaic-item.w5{
	
}


.mosaic-item.horizontal {
	width: 317px;
	height: 150px;
	/*width: 50%; */
}

.mosaic-item.vertical {
	width: 150px;
	height: 317px;
	/*width: 50%; */
}

.mosaic-item .gradient{
	background-image: linear-gradient(rgba(50, 50, 50, 0), #505050);
	bottom: 0;
	color: #fff;
	height: 50px;
	left: 0;
	overflow: hidden;
	padding: 15px;
	position: absolute;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
	font-size: 14px;
}

.mosaic-item img{
	
	width: 100%;
	height: auto;
	display: block;
}


.mosaic-item .gradient{
	background-image: linear-gradient(rgba(50, 50, 50, 0), #505050);
	bottom: 0;
	color: #fff;
	height: 50px;
	left: 0;
	overflow: hidden;
	padding: 15px;
	position: absolute;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
	font-size: 14px;
}

/* END Masonry */


/* Proyect Overlay */

	.projectOverlay-item-content{
		
	}
	
	.projectOverlay-item-content h1{
		color: #000;
	    font-size: 50px;
	    font-weight: bold;
	    margin-top: 0;
	    text-transform: uppercase;
	}
	
	
	.projectOverlay-item-content .description{
		margin-bottom: 20px;
	}
	
	/*
	.projectOverlay-item-gal{
		margin-top: 20px;
		display: none
	}*/
	
	.projectOverlay-item-gal img{

		margin-top: 20px;
		width: 100%;
	}
	
	/*
	.projectOverlay-item-gal img{
		display: none;
		margin-bottom: 20px;
	}
	
	li.open .projectOverlay-item-gal img{
		display: block;
	}*/
	
	
/*	
	.projectOverlay-item-container.open{
		
		height: 100% !important;
	    left: 0;
	    overflow-y: scroll !important;
	    top: 0;
	    width: 100% !important;
	    margin: 0;
	    background: transparent;
	}
	
	.projectOverlay-item-container .projectOverlay-item-content{
		padding: 20px;
		width: 900px;
		margin: auto;
		background: #ffffff;
	}
*/
/* END Proyect Overlay */





/* END single project */

.single-project{
	margin: 0;
}

.single-project h1{
	font-size: 50px;
}


/* END single project */


#contact-block{
	margin: auto;
    max-width: 400px;
}

div.wpcf7 img.ajax-loader{
	display: block;
    margin: auto;
    padding-top: 20px;
}


/*------------GENERAL MEDIA QUERIES-----------*/


@media (min-width: 1200px){

}

@media (max-width: 1700px){

}

@media (max-width: 1200px){

	#cover-img{
		/*height: 100%;*/
	    width: auto;
	}
	
	


	#profile-block-container{
		position: relative;
	}
	
	#profile-block-container:after{
		
		background: none repeat scroll 0 0 #fff;
	    content: " ";
	    height: 100px;
	    left: 50%;
	    margin-left: -82px;
	    position: absolute;
	    top: 0;
	    width: 164px;
	    z-index: 1;
	}

	#profile-container{
		position: absolute;
	    z-index: 2;
		border: 5px solid #d9534f;
	    padding: 0;
	}
	
	#profile-frame{
		background: none repeat scroll 0 0 #fff;
	}
	
	.affix #nav-main-left {
	    margin-right: -45px;
	}
	
	.affix #nav-main-right {
	    margin-left: -45px;
	}	
	
	
	
	
	
	/* Masonry */
	
	.mosaic-item,
	.mosaic-item.w2 {
		width: 16.6%;
	}
	

	/* END Masonry */

}

@media (max-width: 992px){

	
	
	
	
	/* Masonry */

	.mosaic-item {
		width: 25%;
	}
	
	.mosaic-item.w2{
	
		width: 25%;
		/*width: 464px;*/
	
	}

	/* END Masonry */

	
}

@media (max-width: 768px) {

	#cover .logo{
		display: none;
	}
	
	
	
	/*## Cambio a versi贸n m贸vil del home*/
	
	
	.affix #nav-main-container{
		
		border: medium none !important;
	    position: relative !important;
	    top: -100px;
	}
	
	.affix #profile-container .me{
		width: 190px !important;
		opacity: 1 !important;
	}
	
	
	
	
	.cover-title-container{
		top: 40%;
	}
	
	.cover-title-container h1{
		font-size: 40px;
	}
	
	.cover-title-container h2{
		font-size: 20px;
	}
	
	#profile-container{
		border: none;
    	position: relative;
    	top: -100px;
	    width: 200px;
	    padding: 0;
	}

	

	
	#timeline-wrap-back,
	#timeline-wrap,
	#profile-frame,
	.simetric-row .simetric-c{
		display: none !important;
	}
	
	
	.simetric-row .simetric-c,
	.simetric-row .simetric-l,
	.simetric-row .simetric-r{
		height: auto !important;
		padding-bottom: 0;
    	padding-top: 0;
	}
	
	
	
	.simetric-row .simetric-l{
		
		text-align: left;
	}
	
	.timeline_block{
		display: block;
		
		margin-bottom: 50px;
	}
	
	.timeline_block:after{
		display: none;
	}
	
	.simetric-l .progress-bar{
		float: left;
	}
	
	
	/*## EN cambio a versi贸n m贸vil del home*/
	
	

	/* Masonry */
	
	.mosaic-item,
	.mosaic-item.w2 {
		width: 50%;
	}
	

	/* END Masonry */
	
	
	.projectOverlay-item-content h1{
		font-size: 30px;
	}

}

@media (max-width: 480px) {


	/* Masonry */

	.mosaic-item,
	.mosaic-item.w2 {
		width: 100%;
		border: 2px solid #fff;
		border-left: 4px solid #fff;
		border-right: 4px solid #fff;
		
	}

	/* END Masonry */
}




/*######### test ##########*/

/*
.test2{


  transition: width 0.3s ease;
  
  width: 400px;
  background: red;
	
}

.affix{
	position: static;
}


.affix .test2{
	z-index: 100;
	top:0;
	
	width: 100px;
}*/
